<script>
  import { onMount, setContext, onDestroy } from "svelte";
  import PlaceName from "./MapPlaceName.svelte";
  import MapMarker from "./MapMarker.svelte";

  import key from "../../mapbox-context-key.js";
  import { start_loc } from "../../stores/start_loc.js";
  import map_markers from "../../stores/map_markers.js";

  import MapExplorer from "./MapExplorer.svelte";
  import MapJourneyInfo from "./MapJourneyInfo.svelte";

  let zoom = 5;
  let unsub;
  let map;
  let container;
  let markers;
  let sub = map_markers.subscribe((a) => {
    console.log("should update with ", a);
    markers = a;
  });
  let placeFeature = {
    from: "",
    to: "",
  };

  setContext(key, {
    getMap: () => map,
  });

  async function MapSetup() {
    const mapboxModule = await import("mapbox-gl");
    const mapbox = mapboxModule.default;
    const link = document.createElement("link");
    link.rel = "stylesheet";
    link.href = "https://unpkg.com/mapbox-gl/dist/mapbox-gl.css";
    mapbox.accessToken = key.token;
    link.onload = () => {
      map = new mapbox.Map({
        container,
        style: "mapbox://styles/mapbox/streets-v11?optimize=true",
        center: [$start_loc.long, $start_loc.lat],
        zoom,
      });
      map.on("click", function (e) {
        var features = map.queryRenderedFeatures(e.point);
        var displayProperties = ["type", "properties", "id", "state"];
        var displayFeatures = features.map(function (feat) {
          var displayFeat = {};
          displayProperties.forEach(function (prop) {
            displayFeat[prop] = feat[prop];
          });
          return displayFeat;
        });
        displayFeatures = displayFeatures[0];
        if (
          displayFeatures &&
          displayFeatures.properties &&
          displayFeatures.properties.name
        ) {
          let pname = displayFeatures.properties.name;
          if (placeFeature.from == "") {
            placeFeature.from = pname;
          } else if (placeFeature.to == "") {
            placeFeature.to = pname;
          } else if (placeFeature.from != "" && placeFeature.to != "") {
            placeFeature.from = pname;
            placeFeature.to = "";
          }
        }
      });
      unsub = start_loc.subscribe((v) => {
        console.log("should update with ", v);
        if (map) {
          map.flyTo({
            center: {
              lat: $start_loc.lat,
              lng: $start_loc.long,
            },
            zoom: $start_loc.zoom,
          });
        }
      });
    };
    document.head.appendChild(link);
  }
  onMount(async () => {
    await MapSetup();
  });

  onDestroy(() => {
    if (unsub) {
      unsub();
    }
    sub();
  });
</script>

<style>
  div {
    width: 100%;
    height: 100%;
  }
</style>

<div bind:this={container}>
  {#if map}
    <PlaceName {placeFeature} />
    <MapExplorer />
    <MapJourneyInfo />
    {#each markers as m}
      <MapMarker lat={m.latitude} lon={m.longitude} label={m.name} />
    {/each}
    <slot id="map" />
  {/if}
</div>
