<script>
  import { start_loc } from "../../stores/start_loc.js";
  import StartInput from "../stepinput/StartInput.svelte";

  const onStartInput = (value) =>
    start_loc.set({ lat: value.lat, long: value.lng, zoom: 10 });
</script>

<style>
  #features {
    position: absolute;
    width: auto;
    height: auto;
    overflow: auto;
  }
</style>

<div id="features">
  <StartInput onSelect={onStartInput} />
</div>
