<script>
  import { onMount, onDestroy } from "svelte";
  import user_journey from "../../stores/user_journey";

  let journey;
  let sub = user_journey.subscribe((v) => {
    journey = v;
  });

  onDestroy(sub);
  const onDelete = (a) => {
    journey = journey.filter((b) => b.id !== a.id);
    user_journey.set(journey);
  };
</script>

<style>
  #features {
    height: 20vh;
    max-width: 40vw;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin: 70vh 0 0 0.25rem;
  }
</style>

<div id="container">
  <div id="features">
    {#if journey}
      {#each journey as step, i}
        <div class="tile is-parent is-vertical">
          <div class="box tile is-child">
            <button
              on:click={onDelete(journey[i])}
              class="delete is-pulled-right pb-2" />
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img
                    src="https://image.flaticon.com/icons/png/512/720/720298.png"
                    alt="Flights logo" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{step.transport}</strong>
                    <small>{step.departure.metadatas}</small>
                    <small>➡️</small>
                    <small>{step.arrival.metadatas}</small>
                    <br />
                    {step.label} on {new Date(step.departureAt).toISOString()}
                    for {step.price} €
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item" aria-label="like">
                      <span class="icon is-small">👍</span>
                    </div>
                    <div class="level-item" aria-label="details">
                      <span class="icon is-small">🔎</span>
                    </div>
                    <div class="level-item" aria-label="export">
                      <span class="icon is-small">📤</span>
                    </div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      {/each}
    {/if}
  </div>
</div>
