<script>
  export let placeFeature;
</script>

<style>
  #features {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    /* bottom: 1.5; */
    width: auto;
    height: auto;
    overflow: auto;
    /* background: rgba(255, 255, 255, 0.8); */
  }
</style>

<div id="features">
  {#if placeFeature.from}
    <div class="notification is-primary has-text-centered">
      📍&nbsp;<strong>{placeFeature.from}</strong>
    </div>
  {/if}
  {#if placeFeature.to}
    <div class="notification is-link has-text-centered">
      📍&nbsp;<strong>{placeFeature.to}</strong>
    </div>
  {/if}
  {#if placeFeature.to && placeFeature.from}
  <div class="has-text-centered">
    <button class="button is-success is-rounded">Go</button>
  </div>
  {/if}
</div>
