<script>
  import client from "../../apollo_client.js";
  import { gql } from "apollo-boost";
  import { onMount } from "svelte";
  const USER = gql`
    query {
      user {
        name
        civility
        firstName
        lastName
        preferedLangage
        email {
          value
          verified
        }
        createdAt
        updatedAt
      }
    }
  `;
  const UserQuery = client.watchQuery({
    query: USER,
  });
  onMount(() => {
    UserQuery.startPolling(6000);
  });
</script>

<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      {#await $UserQuery}
        <progress class="progress is-large is-danger" max="100">15%</progress>
      {:then results}
        {#if results}
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      alt="profile"
                      src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFro&accessoriesType=Round&hairColor=BrownDark&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Gray01&eyeType=Happy&eyebrowType=UpDownNatural&mouthType=Smile&skinColor=Brown" />
                  </figure>
                </div>
                <div class="media-content">
                  <h3 class="title is-4 has-text-black">
                    {`${results.data.user.civility} ${results.data.user.name}`}
                  </h3>
                  {#if results.data.user.firstName && results.data.user.lastName}
                    <p class="subtitle is-6 has-text-black">
                      {`${results.data.user.firstName} ${results.data.user.lastName}`}
                    </p>
                  {/if}
                </div>
              </div>
              <div class="content has-text-left">
                {#if results.data.user.email}
                  <p class="">
                    Email* : {results.data.user.email.value}
                    {#if results.data.user.email.verified}
                      <span class="icon has-text-success">V</span>
                    {:else}
                      <span class="icon has-text-warning">X</span>
                    {/if}
                  </p>
                {/if}
                {#if results.data.user.phone}
                  <p class="text-black">
                    Phone : {`${results.data.user.phone.value}`}
                    {#if results.data.user.phone.verified}
                      <span class="icon has-text-success">
                        <i class="fas fa-check-square" />
                      </span>
                    {:else}
                      <span class="icon has-text-warning">
                        <i class="fas fa-exclamation-triangle" />
                      </span>
                    {/if}
                  </p>
                {/if}
                <p>
                  Member since :
                  <time datetime={results.data.user.createdAt}>
                    {new Date(results.data.user.createdAt).toLocaleString()}
                  </time>
                </p>
                <p>
                  Last Update :
                  <time datetime={results.data.user.updatedAt}>
                    {new Date(results.data.user.updatedAt).toLocaleString()}
                  </time>
                </p>
                <p class="help">
                  *Is confirmed
                  <span class="icon has-text-success">V</span>
                  / need confirmation
                  <span class="icon has-text-warning">X</span>
                </p>
              </div>
            </div>
          </div>
        {/if}
      {/await}

    </div>
  </div>
</section>
