<script>
  import map_markers from "../../stores/map_markers";

  export let to;
  export let restaurants;
  let markers;
  let sub = map_markers.subscribe((a) => (markers = a));
  function showPoint(point) {
    // console.log(point);
    if (!markers.find((m) => m.id == point.id)) {
      markers.push(point);
      map_markers.set(markers);
    }
  }
  const onDeleteMarker = (a) => {
    markers = markers.filter((m) => m.id !== a.id);
    map_markers.set(markers);
  };
</script>

<label class="label">Restaurants to {to}</label>
<div class="table-container" style="height: 40vh;overflow-y: auto;">
  {#each restaurants as r}
    <div class="box">
      <div class="card">
        <div class="card-content">
          <div class="content">
            Name : {r.name}
            <br />
            Rating : {r.rating}
            <br />
            Updated at :
            <time datetime={r.createdAt}>
              {new Date(r.createdAt).toLocaleString()}
            </time>
          </div>
        </div>

        <footer class="card-footer">
          <button class="button card-footer-item" href={r.url}>💾</button>
          <button
            on:click={showPoint({
              id: r.id,
              latitude: r.location.latitude,
              longitude: r.location.longitude,
              name: r.name,
            })}
            class="button card-footer-item">
            📍
          </button>
          <button
            on:click={onDeleteMarker({ id: r.id })}
            class="button card-footer-item">
            ❌
          </button>
        </footer>
      </div>
    </div>
  {/each}
</div>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Show on map</button>
  </div>
</div>
