<script>
  import map_markers from "../../stores/map_markers";
  import { onDestroy } from "svelte";

  export let to;
  export let accommodations;

  let markers;
  let sub = map_markers.subscribe((a) => (markers = a));
  function showPoint(point) {
    // console.log(point);
    if (!markers.find((m) => m.id == point.id)) {
      markers.push(point);
      map_markers.set(markers);
    }
  }
  function getStars(stars) {
    let text = "";
    for (var i = 0; i < stars; i++) {
      text += " ⭐";
    }
    return text;
  }
  const onDeleteMarker = (a) => {
    markers = markers.filter((m) => m.id !== a.id);
    map_markers.set(markers);
  };
  onDestroy(sub);
</script>

<section>
  {#if accommodations}
    <label class="label">Accomodations to {to}</label>
    <div class="table-container" style="height: 40vh;overflow-y: auto;">
      {#each accommodations as ac}
        <div class="box">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img
                      class="is-rounded"
                      src={ac.url}
                      alt="Hotel {ac.name}" />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{ac.name}</p>
                  <p class="subtitle is-6">{getStars(ac.hotelStars)}</p>
                </div>
              </div>
              <div class="content">
                Price range : {ac.priceRange}
                <br />
                Updated at :
                <time datetime={ac.createdAt}>
                  {new Date(ac.createdAt).toLocaleString()}
                </time>
              </div>
            </div>

            <footer class="card-footer">
              <button
                class="button card-footer-item"
                on:click={console.log(ac)}>
                💾
              </button>
              <button
                on:click={showPoint({
                  id: ac.id,
                  latitude: ac.location.latitude,
                  longitude: ac.location.longitude,
                  name: ac.name,
                })}
                class="button card-footer-item">
                📍
              </button>
              <button
                on:click={onDeleteMarker({ id: ac.id })}
                class="button card-footer-item">
                ❌
              </button>
            </footer>
          </div>
        </div>
      {/each}
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Show on map</button>
      </div>
    </div>
  {/if}
</section>
