<script>
  export let flights;
  export let from;
  export let to;
  export let onSelect = null;
</script>

<section>
  {#if flights}
    <label class="label">
      Flights from {from} to {to} ({flights.length} results)
    </label>
    <div class="table-container" style="height: 30vh;overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <!-- <th>Nb</th> -->
            <th>Id</th>
            <th>Company</th>
            <th>Departure Date</th>
            <th>Price</th>
            <th>Save</th>
          </tr>
        </thead>
        <tbody>
          {#each flights as d, i}
            <tr>
              <!-- <th>{i}</th> -->
              <th>{i}</th>
              <td>{d.label}</td>
              <td>{d.departureAt}</td>
              <td>{d.price}</td>
              <td>
                <button on:click={onSelect(d)} class="button">💾</button>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </div>
  {/if}
</section>
