<script>
  import Map from "../components/Map.svelte";
  import MapMarker from "../components/MapMarker.svelte";

  export let name;
  export let lat;
  export let lon;
</script>

<style>
  .card {
    height: 18rem;
  }
</style>

<div class="col-12 col-md-4">
  <div class="card mb-3">
    <Map style="height: 18rem" {lat} {lon} zoom={10}>
      <MapMarker {lat} {lon}/>
    </Map>
    <div class="card-body">
      <p class="card-text">{name}</p>
    </div>
  </div>
</div>
