<script>
  import restaurantList from "../store/restaurant-store.js";

  export let from = "";
  export let to = ""
  export let handleSubmit;
</script>

<form on:submit={handleSubmit}>
  <div class="input-group mb-3">
    <input
      bind:value={from}
      type="text"
      class="form-control"
      placeholder="Type a location"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2" />
    <input
      bind:value={to}
      type="text"
      class="form-control"
      placeholder="Type a location"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">GO</button>
    </div>
  </div>

</form>
