<script>
  import { writable } from "svelte/store";
  import Map from "../components/map/Map.svelte";
  import MapMarker from "../components/map/MapMarker.svelte";
  import StepInput from "../components/stepinput/StepInput.svelte";
</script>

<style>
  .full-height {
    height: 100vh;
  }
</style>

<svelte:head>
  <title>Travelter | Your way to travel</title>
</svelte:head>

<section class="section" style="padding: 0">
  <div class="columns full-height is-gapless">
    <div class="column is-two-thirds">
      <Map />
    </div>
    <div class="column">
      <StepInput />
    </div>
  </div>
</section>
