<script>
  import { goto } from "@sapper/app";
  import { gql } from "apollo-boost";
  import client from "../apollo_client";
  import user from "../stores/user.js";

  let username = "";
  let userpassword = "";

  const LOGIN = gql`
    query($name: String!, $password: String!) {
      login(input: { name: $name, password: $password }) {
        token
        otp
        type
        validity
      }
    }
  `;

  // onMount(() => console.log("coucou login"));
  const handleSubmit = async () => {
    let dta = await client.query({
      query: LOGIN,
      variables: {
        name: username,
        password: userpassword,
      },
    });
    localStorage.setItem("token", dta.data.login.token);
    user.set({
      name: username,
      token: dta.data.login.token,
    });
    await goto("/");
  };
  
</script>

<style>

</style>

<svelte:head>
  <title>Travelter | Authenticate</title>
</svelte:head>

<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">

      <div class="columns">
        <div class="column is-fullwidth">
          <div class="card">
            <div class="card-content">

              <div class="field">
                <p class="control has-icons-left has-icons-left">
                  <input
                    class="input is-primary"
                    type="text"
                    bind:value={username}
                    placeholder="Name" />
                  <span class="icon is-small is-left">
                    <span class="icon is-small is-left">👤</span>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    class="input is-primary"
                    type="password"
                    bind:value={userpassword}
                    placeholder="Password" />
                  <span class="icon is-small is-left">🔑</span>
                </p>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button on:click={handleSubmit} class="button is-link">
                    Login
                  </button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">
                    Reset password
                  </button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
