<script>
  import fetch from "node-fetch";
  import { dataset_dev, createEventDispatcher } from "svelte/internal";
  export let onSelect = null;

  let isloading = false;
  let from_dest = "Bordeaux";
  let to_dest = "Seville";
  let start_point = "seville";
  let search_result;
  let selected;

  const setSelected = (e) => {
    selected = e;
  };
  async function handleSubmit() {
    isloading = true;
    const q = await fetch(
      "https://maps.googleapis.com/maps/api/geocode/json?address=" +
        start_point +
        "&key=AIzaSyDBdqBJefhDrqeQ_LcTtsvMDuRlfaVWY88"
    );
    const dta = await q.json();
    search_result = [];
    isloading = false;
    if (dta && dta.results) {
      dta.results.forEach((e) => {
        if (e.geometry) {
          search_result = [
            ...search_result,
            {
              type: e.type,
              address: e.formatted_address,
              location: e.geometry.location,
            },
          ];
        }
      });
      selected = search_result[0];
      search_result = search_result;
    }
  }
  function cancel() {
    start_point = "";
    search_result = [];
  }
  function setStartPoint() {
    console.log(selected);
    onSelect(selected.location);
  }
</script>

<style>

</style>

<div class="my-3 mx-3">

  <!-- <label class="button is-primary label">Start</label> -->
  <div class="field has-addons">
    <div class={!isloading ? 'control' : 'control is-loading'}>
      <input
        class="input"
        type="text"
        bind:value={start_point}
        placeholder="Find location" />
    </div>
    <div class="field is-grouped">
      {#if !isloading}
        <div class="control">
          <button on:click={handleSubmit} class="button is-link">🔎</button>
        </div>
      {/if}
      <div class="control">
        <!-- <span on:click={cancel} class="icon is-left">❌</span> -->
        <button on:click={cancel} class="button is-danger is-light">❌</button>
      </div>
    </div>
  </div>

  {#if search_result && search_result.length}
    <div class="field has-addons">
      <div class="control has-icons-left">
        <div class="select is-link is-rounded">
          <select bind:value={selected}>
            {#each search_result as sr}
              <option value={sr}>{sr.address}</option>
            {/each}
          </select>
          <div class="icon is-left">🔵</div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button on:click={setStartPoint} class="button is-link">✈️</button>
        </div>
      </div>
    </div>
  {/if}

</div>
