<script>
  import { gql } from "apollo-boost";
  import { each } from "svelte/internal";

  import client from "../../apollo_client";

  import journey from "../../stores/user_journey.js";
  import map_markers from "../../stores/map_markers";

  import FlightList from "../flights/FlightList.svelte";
  import AccommodationList from "../accommodations/AccommodationList.svelte";
  import RestaurantList from "../restaurants/RestaurantList.svelte";

  const FLIGHTS = "flights";
  const RESTAURANTS = "restaurants";
  const ACCOMODATIONS = "accommodations";

  // const SHOWME = [
  //   { name: FLIGHTS, desc: "" },
  //   { name: RESTAURANTS, desc: "" },
  //   { name: ACCOMODATIONS, desc: "" },
  // ];

  let isloading = false;
  let see = "accommodations";
  let from_dest = "Bordeaux";
  let to_dest = "Seville";
  let when = "";
  let dval;
  let datas;

  const FLIGHTSQUERY = gql`
    query($from: String!, $to: String!, $when: String) {
      flights(input: { from: $from, to: $to, when: $when }) {
        id
        label
        price
        departureAt
        arrivalAt
        departure {
          metadatas
        }
        arrival {
          metadatas
        }
        transport
        createdAt
        updatedAt
      }
    }
  `;
  const ACCOMMODATIONSQUERY = gql`
    query($to: String) {
      accommodations(input: { loc: { name: $to } }) {
        id
        url
        name
        createdAt
        priceRange
        hotelStars
        location {
          latitude
          longitude
          metadatas
        }
      }
    }
  `;
  const RESTAURANTSQUERY = gql`
    query($to: String) {
      restaurants(input: { loc: { name: $to } }) {
        id
        name
        rating
        createdAt
        description
        location {
          latitude
          longitude
          metadatas
        }
      }
    }
  `;
  const saveStep = async (step) => {
    console.log(step);
    let steps = $journey;
    if (!steps.find((a) => a.id == step.id)) {
      steps.push(step);
      journey.set(steps);
    }
  };

  const handleSubmit = async () => {
    isloading = true;
    try {
      switch (see) {
        case FLIGHTS:
          if (dval) {
            when = new Date(dval).toISOString();
          } else {
            when = null;
          }
          var dta = await client.query({
            query: FLIGHTSQUERY,
            variables: {
              from: from_dest,
              to: to_dest,
              when: when,
            },
          });
          // console.log(dta.data.flights);
          datas = dta.data;
          break;
        case ACCOMODATIONS:
          var dta = await client.query({
            query: ACCOMMODATIONSQUERY,
            variables: {
              to: to_dest,
            },
          });
          // console.log(dta.data);
          datas = dta.data;
          break;
        case RESTAURANTS:
          var dta = await client.query({
            query: RESTAURANTSQUERY,
            variables: {
              to: to_dest,
            },
          });
          // console.log(dta.data);
          datas = dta.data;
          console.log(datas);
          break;
        default:
          break;
      }
    } catch (error) {
      console.error(error);
    }
    isloading = false;
  };
</script>

<style>

</style>

<div class="my-3 mx-3">

  <label class="label has-text-centered">Steps</label>
  <div class="field">
    <label class="label">When</label>
    <div class="control">
      <input
        class="input"
        type="date"
        bind:value={dval}
        placeholder="e.g 01/03/2022" />
    </div>
  </div>
  <div class="field">
    <label class="label">From</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="e.g Bordeaux"
        bind:value={from_dest} />
    </div>
  </div>

  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="e.g. Seville"
        bind:value={to_dest} />
    </div>
  </div>

  <div class="field">
    <label class="label">Show me</label>
    <div class="control">
      <div class="select is-rounded">
        <select bind:value={see}>
          <option value={FLIGHTS}>✈️&nbsp;Flights</option>
          <option value={ACCOMODATIONS}>🛌&nbsp;Accomodations</option>
          <option value={RESTAURANTS}>🍴&nbsp;Restaurants</option>
          <option value="concerts">🎤&nbsp;Concerts</option>
          <option value="events">🎆&nbsp;Other events</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button
        on:click={handleSubmit}
        class={!isloading ? 'button is-link' : 'button is-link is-loading'}>
        Submit
      </button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>

  {#if datas && datas.flights}
    <FlightList
      onSelect={saveStep}
      flights={datas.flights}
      from={from_dest}
      to={to_dest} />
  {:else if datas && datas.accommodations}
    <AccommodationList to={to_dest} accommodations={datas.accommodations} />
  {:else if datas && datas.restaurants}
    <RestaurantList restaurants={datas.restaurants} to={to_dest} />
  {/if}

</div>
