<table class="all-font-sans sm-w-full"
    style="border-radius: 4px; margin-left: auto; margin-right: auto; box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px; margin-top: 15px;"
    width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td width="100%" align="center">
                <table class="sm-w-full" width="600" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding-left: 24px; padding-right: 24px; padding-top: 40px; padding-bottom: 8px;"
                                align="center"><a href="#" style="text-decoration: none;"><img
                                        src="https://s3-us-west-1.amazonaws.com/tinify-bucket/%2Fprototypr%2Ftemp%2F1589615039857-logo-via-logohub.png"
                                        alt="Logo" style="border: 0px none; line-height: 100%; width: 261px;"
                                        class="fr-fic fr-dii" width="130"></a></td>
                        </tr>
                        <tr>
                            <td style="line-height: 14px;" height="14">‌</td>
                        </tr>
                        <tr>
                            <td align="center"><a href="https://mytravelter.com/"
                                    style="color: #4a5568; text-decoration: none;">Home</a> <span class="sm-px-0"
                                    style="padding-left: 3px; padding-right: 3px;">&nbsp;&nbsp;</span> <a
                                    href="https://mytravelter.com/journeys"
                                    style="color: #4a5568; text-decoration: none;">My Journeys</a> <span class="sm-px-0"
                                    style="padding-left: 3px; padding-right: 3px;">&nbsp;&nbsp;</span> <a
                                    href="https://mytravelter.com/events"
                                    style="color: #4a5568; text-decoration: none;">Events</a></td>
                        </tr>
                        <tr>
                            <td style="line-height: 40px;" height="40">‌</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="sm-w-full all-font-sans"
    style="border-radius: 4px; margin-left: auto; margin-right: auto; box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px; margin-top: 15px;"
    width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td class="sm-px-24"
                style="background-position: top; background-repeat: no-repeat; background-size: cover; border-radius: 4px; text-align: left;"
                align="left">
                <table class="sm-w-full" width="504" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td class="sm-h-32" height="64"><br></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <h1 class="sm-leading-40" style="margin: 0; margin-bottom: 10px; font-size: 36px;">
                                    Welcome Aboard {{.Username}}</h1>
                                <table cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding-top: 12px; padding-bottom: 30px;"><a
                                                    href="http://example.com/#1"><img
                                                        src="https://s3-us-west-1.amazonaws.com/tinify-bucket/%2Fprototypr%2Ftemp%2F1589615249314-182.png"
                                                        style="border: 0px; line-height: 100%; border-radius: 4px;"
                                                        alt="" class="fr-fic fr-dii" width="504"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p style="line-height: 24px; margin: 0; font-size: 18px;">To get the most out of your
                                    TraveLteR experience, we need you to confirm the present email address</p>
                                <div class="sm-h-32" style="line-height: 20px;">‌</div>
                                <table cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th fr-tbgcolor="#000000"
                                                style="mso-padding-alt: 16px 24px; border-radius: 4px;background:#000;">
                                                <a href="http://app.letter.so"
                                                    style="display: block; font-weight: 600; line-height: 100%; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px; color: #ffffff; font-size: 16px; text-decoration: none;">Confirm</a>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="sm-h-32" height="64"><a href="http://app.letter.so"></a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="all-font-sans sm-w-full sm-px-24"
    style="border-radius: 4px; margin-left: auto; margin-right: auto; padding: 48px; box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px; margin-top: 15px;"
    width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td class="sm-block sm-w-full" style="line-height: 26px;" width="50%">
                <p style="margin: 0; color: #718096; font-size: 12px;">Made with <span>♥</span> in France</p>
                <p style="margin: 0; color: #718096; font-size: 12px;"><a class="hover-no-underline" href="#"
                        style="color: #718096; text-decoration: underline;"></a></p>
                <p style="margin: 0; color: #718096; font-size: 12px;">AwesomeCity, 42 Innovation Road</p>
            </td>
            <td class="sm-block sm-w-full sm-text-left sm-pt-24" style="text-align: right; vertical-align: top;"
                width="50%" valign="top" align="right"><a class="hover-no-underline" href="https://maizzle.com"
                    style="color: #718096; font-size: 12px; text-decoration: underline;">Unsubscribe</a></td>
        </tr>
    </tbody>
</table>
