<script context="module">
  import { gql } from "apollo-boost";
  import client from "../../apollo_client.js";
  import { Headers } from "node-fetch";

  const RESTAURANTS_QUERY = gql`
    query {
      restaurants {
        id
        name
        location {
          latitude
          longitude
        }
      }
    }
  `;

  const EVENTS_QUERY = gql`
    query {
      events {
        id
        name
        category {
          id
          label
        }
        endDate
        startDate
        isfree
        fromUrl
        location {
          latitude
          longitude
        }
      }
    }
  `;

  const ACCOMMODATIONS_QUERY = gql`
    query {
      accommodations {
        id
        name
        Location {
          latitude
          longitude
        }
      }
    }
  `;

  export async function preload() {
    const {
      data: { restaurants }
    } = await client.query({ query: RESTAURANTS_QUERY });

    const {
      data: { events }
    } = await client.query({ query: EVENTS_QUERY });

    const {
      data: { accommodations }
    } = await client.query({ query: ACCOMMODATIONS_QUERY });

    return { restaurants, events, accommodations };
  }
</script>

<script>
  import customStore from "../store/restaurant-store.js";
  import eventStore from "../store/event-store.js";
  import accommodationStore from "../store/accommodation-store.js";
  import Card from "../components/Card.svelte";
  import Input from "../components/Input.svelte";
  import Map from "../components/Map.svelte";

  export let restaurants;
  export let events;
  export let accommodations;
  let from = "";
  let to = "";

  function arePointsNear(checkPoint, centerPoint, km) {
    var ky = 40000 / 360;
    var kx = Math.cos((Math.PI * centerPoint.lat) / 180.0) * ky;
    var dx = Math.abs(centerPoint.lng - checkPoint.lng) * kx;
    var dy = Math.abs(centerPoint.lat - checkPoint.lat) * ky;
    if (Math.sqrt(dx * dx + dy * dy) <= km) {
      checked = true;
    }
  }

  //restaurantStore.set(restaurants);
  eventStore.set(events);
  accommodationStore.set(accommodations);

  let restoList = [];
  let eventList = [];
  let accommodationList = [];
  let flightList = [];
  let centerPoint = {};
  let checkPoint = {};
  let checked = false;
  var myHeaders = new Headers();
  myHeaders.append("Content-Type", "application/json");
  myHeaders.append(
    "Authorization",
    "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJsb2NhbGhvc3Q6QVVUSCIsImV4cCI6MTU5MzUzMDcyMSwianRpIjoiYnJ0aTI4OGo2M2h2ODdmbzdhdTAiLCJpYXQiOjE1OTM1MTYzMjEsImlzcyI6InRyYXZlbHRlci1kZXYiLCJzdWIiOiJ1c2VyX21pY2hlbDpVU0VSIn0.yb8rrVb172ESUdPQAS1cktxonzzN2SG0chQkHCcn1wcfgokmmSCjtxnkcRKP5D2P7sQL9gtLGRVDI_ClXIhqldJ0Ogooke88GYyb5Q0kKqNrBPdtWUOq3WK5uhjC2-9arct24riIe0rm17VwsThGFPgGy4G9BVIRygTGApj0MJ2tmI2Q1HZXYYZRtNstZV8SexIFXti_S1tV4hYBGeGvHKYDBAEc8yQtiQxJyNU1uVaDHJT_Ejefn_jt0ElqwR4hAyPljfaX3X-Kk4qLgwm_NwyJTfuRyzk6XtZnOjA79HF8eyjkip4jx1xZtH51drPjxqcmg_XAi1cc075WbE9M3miuBt65jP4vWMJsmv-hbuD2ShPI85GP1eywtThZYDRaNX1azFgaxL15YOI87mZFfSBmWkA-uY-q0h9RS4P4AErE9fMde2XdPnc7l8aSPoWc0Vffs_m_aweaOko8UmIrwh-1UKuR5WCHpHDQJmY6i8hFNkSPhx4oIqYa9mVuvG4k8jPV_MLUQb-PTKftkVMioWNoJfiK5_jeju-ARPQA7YGT5m8bX2nTmnxdpee16WHBXBXcuovQPOUh8ox0bI-U4bi2m3l3f7BsieNAyJQZnPkAykDEhMKYov95i-DBsAI4R7ejWZWspUCbLsYQAjjcwovxqwmFsd8_p2HMKX6jybQ"
  );

  function handleSubmit(e) {
    e.preventDefault();
    restoList = [];
    eventList = [];
    accommodationList = [];
 /* fetch("http://localhost:9004/trip?from=" + from + "&to=" + to, {
      method: "GET",
      headers: myHeaders
    })
      .then(res => {
        return res.json();
      })
      .then(data => {
        flightList = [];
        data.forEach(element => {
          flightList = [...flightList, element];
        });
        console.log(flightList);
      })
      .catch(err => {
        console.log(err);
      });*/
    fetch(
      "https://maps.googleapis.com/maps/api/geocode/json?address=" +
        to +
        "&key=AIzaSyDBdqBJefhDrqeQ_LcTtsvMDuRlfaVWY88"
    )
      .then(res => {
        return res.json();
      })
      .then(data => {
        // console.log(data);
        centerPoint = data.results[0].geometry.location;
        // console.log(centerPoint);
        customStore.setRestaurants(restaurants);
        restoList = customStore.sortRestaurants(centerPoint);
        console.log(restoList);
        eventStore.subscribe(items => {
          items.forEach(element => {
            //    console.log(element);
            checkPoint = {
              lat: element.location.latitude,
              lng: element.location.longitude
            };
            //   console.log(checkPoint);
            checked = false;
            arePointsNear(checkPoint, centerPoint, 10);
            if (checked) {
              eventList = [...eventList, element];
            }
            //     console.log(eventList);
          });
        });
        accommodationStore.subscribe(items => {
          items.forEach(element => {
            //    console.log(element);
            checkPoint = {
              lat: element.Location.latitude,
              lng: element.Location.longitude
            };
            //    console.log(checkPoint);
            checked = false;
            arePointsNear(checkPoint, centerPoint, 10);
            if (checked) {
              accommodationList = [...accommodationList, element];
            }
            //    console.log(accommodationList);
          });
        });
      })
      .catch(err => {
        console.log(err);
      });
  }
</script>

<style>

</style>

<div class="container-fluid">
  <Input bind:from bind:to {handleSubmit} />
  <!-- <div style="height: 80vh">
    <Map lat={20} lon={26} zoom={1.5} />
  </div> -->
  {#if flightList.length}
    <h2 class="font-weight-light">Flights</h2>
    <div class="row mb-3">
      {#each flightList as flight}
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <p class="card-text">
                {flight.label}
                <br />
                Departure: {flight.departureAt}
                <br />
                {flight.price} €
              </p>
            </div>
          </div>
        </div>
      {/each}
    </div>
  {/if}
  {#if restoList.length}
    <h2 class="font-weight-light">Restaurants</h2>
    <div class="row mb-3">
      {#each restoList as restaurant}
        <Card
          lat={restaurant.location.latitude}
          lon={restaurant.location.longitude}
          name={restaurant.name} />
      {/each}
    </div>
  {/if}
  {#if eventList.length}
    <h2 class="font-weight-light">Events</h2>
    <div class="row mb-3">
      {#each eventList as event}
        <Card
          lat={event.location.latitude}
          lon={event.location.longitude}
          name={event.name} />
      {/each}
    </div>
  {/if}
  {#if accommodationList.length}
    <h2 class="font-weight-light">Accommodations</h2>
    <div class="row mb-3">
      {#each accommodationList as accommodation}
        <Card
          lat={accommodation.Location.latitude}
          lon={accommodation.Location.longitude}
          name={accommodation.name} />
      {/each}
    </div>
  {/if}
</div>
