<script>
  import { onMount } from "svelte";
  import client from "../apollo_client.js";
  import user from "../stores/user.js";
  import { goto } from "@sapper/app";

  export let segment;

  const parseJwt = (token) => {
    try {
      return JSON.parse(atob(token.split(".")[1]));
    } catch (e) {
      return null;
    }
  };
  async function logout() {
    await client.clearStore();
    localStorage.clear();
    user.set({
      name: "",
      role: "",
      first: "",
      last: "",
      civi: "",
      token: "",
      journeyId: "",
    });
    await goto("/");
  }
  onMount(() => {
    let Existtkn = localStorage.getItem("refresh-token");
    if (Existtkn && Existtkn.length > 0) {
      let details = parseJwt(Existtkn);
      if (details == null || !details.iss.includes("travelter")) return;
      let user_and_role = details.sub.split(":");
      user.set({
        token: Existtkn,
        name: user_and_role[0],
        role: user_and_role[1],
      });
    }
  });
</script>

<style>
  nav {
    border-bottom: 1px solid rgba(255, 62, 0, 0.1);
    font-weight: 300;
    padding: 0 1em;
  }

  .selected {
    position: relative;
    display: inline-block;
  }

  .selected::after {
    position: absolute;
    content: "";
    width: calc(100% - 1em);
    height: 2px;
    background-color: #3498db;
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
  }
</style>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navBar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" class:selected={segment === undefined} href=".">
        Maps
      </a>
    </div>
    <div class="navbar-brand">
      <h1 class="title mt-3">🗺️&nbsp;Travelter</h1>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {#if $user && $user.token !== ''}
            <a
              class:selected={segment === 'journey'}
              href="journey"
              class="is-primary">
              <strong>My Journeys</strong>
            </a>
            <button
              style="margin-top: 5px;"
              on:click|preventDefault={logout}
              class="button has-text-info">
              🚪
            </button>
          {:else}
            <a
              class:selected={segment === 'login'}
              href="login"
              class="is-light">
              Sign in
            </a>
          {/if}
        </div>
      </div>

    </div>

  </div>
</nav>
